<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/banner-bkg.jpg');">
  <div class="container">
    <h1>WhichCar?</h1>
  </div>
</div> -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6">
      <div class="form-post">
        <h2>Build you dream car</h2>

          <%= simple_form_for :search, url: cars_path, method: :get do |f| %>
            <%= f.input :ecology, collection: ["A lot", "A little bit", "Not really"], as: :check_boxes, label: 'How much do you care about ecology ?' %>
            <%= f.input :passenger, collection: [2, 5, 8], as: :check_boxes, label: 'How many people do you carry in you car ?' %>
            <%= f.input :gearbox, collection: ["Auto", "Manual"], as: :check_boxes, label: 'Manual or Auto ?' %>
            <%= f.input :group, collection: ["Yes", "No"], as: :check_boxes, label: 'Do you often travel with big groups ?' %>

            <span class="multi-range">
              <input name="search[min_price]" type="range" min="0" max="50" value="5" id="lower">
              <input name="search[max_price]" type="range" min="0" max="50" value="45" id="upper">
            </span><br>
            <%= f.submit "Find cars", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
