<h1>Enter your criterias</h1>

<%= form_for :search, url: cars_path, method: :get do |f| %>
  <%= f.label :year %>
  <%= f.text_field :year %><br>

  <%= f.label :passengers %>
  <%= f.text_field :passengers %><br>

  <%= f.label :fuel %>
  <%= f.text_field :fuel %><br>

  <%= f.label :critair %>
  <%= f.text_field :critair %><br>

  <%= f.label :gearbox %>
  <%= f.text_field :gearbox %><br>

  <%= f.label :price %>

  <span class="multi-range">
    <input name="search[min_price]" type="range" min="0" max="50" value="5" id="lower">
    <input name="search[max_price]" type="range" min="0" max="50" value="45" id="upper">
  </span><br>


  <%= f.submit%>
<% end %>
