<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path("banner-bkg.jpg") %>');height:100vh;margin:0;" id="banner">

  <div class="containerx">
    <h1>WhichCar?</h1>
    <h2>Find your dream car</h2>
  </div>
  <div class="sign">
    <%=link_to "Sign up today",new_user_registration_path,class: "btn btn-primary"%>
  </div>
  <div class="scrolling">
    <p>Scroll Down</p>
    <div class="downArrow bounce">
     <a href="#1"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
      <div class="wrapper">
        <%= simple_form_for :search, url: cars_path, method: :get do |f| %>
        <div class="form-post">

        <div class="surveystep" id="1">


          <span><a href="#banner" class="previous round" id="first">&#8249;</a></span>
          <div class="question">
            <%= f.input :passengers, collection: ["2", "5", "More than 5"], as: :radio_buttons, label: 'How many passengers ?', include_hidden: false,id:'question' %>
          </div>
          <div class="image">
            <%= image_tag "passengers.png", alt: "alttext" %>
          </div>
          <span><a href="#2" class="next round" id="second" onclick="smooth()">&#8250;</a></span>
        </div>

        <div class="surveystep" id="2">
          <span><a href="#1" class="previous round">&#8249;</a></span>
          <div class="survey-step-odd d-flex">

          <div class="question">
            <%= f.input :gearbox, collection: ["Auto", "Manual"], as: :radio_buttons, label: 'What gearbox do you want ?', include_hidden: false  %>
          </div>
              <div class="image">
            <%= image_tag "speed.png", alt: "alttext" %>
          </div>
          </div>
           <span><a href="#3" class="next round">&#8250;</a></span>
        </div>

        <div class="surveystep" id="3">
          <span><a href="#2" class="previous round">&#8249;</a></span>
          <div class="question">
            <%= f.input :ecology, collection: ["Yes", "No"], as: :radio_buttons, label: 'Do you want your car to be eco-friendly ?', include_hidden: false  %>
          </div>
          <div class="image">
            <%= image_tag "nature.png", alt: "alttext" %>
          </div>
          <span><a href="#4" class="next round">&#8250;</a></span>
        </div>

        <div class="surveystep" id="4">
          <span><a href="#3" class="previous round">&#8249;</a></span>
          <div class="question">
            <%= f.input :items, collection: ["Not a lot", " A little bit", "A lot"], as: :radio_buttons, label: 'Will you carry a lot of items?', include_hidden: false  %>
          </div>
          <div class="image">
            <%= image_tag "bag.png", alt: "alttext" %>
          </div>
          <span><a href="#5" class="next round">&#8250;</a></span>
        </div>

        <div class="surveystep" id="5">
          <span><a href="#4" class="previous round">&#8249;</a></span>
          <div class="question">
            <%= f.input :road, collection: ["In the city", "On the highway"], as: :radio_buttons, label: 'Where do you often drive ?', include_hidden: false  %>
          </div>
          <div class="image">
            <%= image_tag "road.png", alt: "alttext" %>
          </div>
          <span><a href="#6" class="next round">&#8250;</a></span>
        </div>

        <div class="surveystep" id="6">
          <span><a href="#5" class="previous round">&#8249;</a></span>
          <div class="question" id="6">
            <%= f.input :prices, label: false, input_html: {class: "js-range-slider"}, wrapper: false %>
            <%= f.submit "Find cars", class: "btn btn-primary" %>
          </div>
          <div class="image">
            <%= image_tag "dame.png", alt: "alttext" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

