<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h1>Build you dream car</h1>

          <%= simple_form_for :search, url: cars_path, method: :get do |f| %>
          <div class="category-choices">
          <%= f.input :ecology, collection: ["Not really", "A little bit", "A lot"], as: :check_boxes %>
          </div>
          <%= f.input :passenger, collection: [2, 5, 8], as: :check_boxes %>
          <%= f.input :gearbox, collection: ["Auto", "Manual"], as: :check_boxes %>
          <%= f.input :group, collection: ["Yes", "No"], as: :check_boxes %>
          <%= f.input :price %>
          <%= f.submit "Find cars", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
