<div class="container">
<div class="container_compare">
  <div class="compare-items">
    <%@cars.each do |car|%>
      <div class="compare-item">
        <div class="photos">
          <%=image_tag car.photo,class: 'photos'%><br>
          Starting At<br>
          <span><%=car.price%>€</span>
        </div>
      </div>
    <%end%>
  </div>

  <h4 class="font-weight-bold">Brand</h4>
  <hr>
  <div class="compare-items">
    <%@cars.each do |car|%>
      <div class="compare-item">
        <%=car.brand%>
      </div>
    <%end%>
  </div>

  <br>
  <h4 class="font-weight-bold">Model</h4>
  <hr>
  <div class="compare-items">
    <%@cars.each do |car|%>
      <div class="compare-item">
        <%=car.model%>
      </div>
    <%end%>
  </div>

  <br>
  <h4 class="font-weight-bold">Car Type</h4>
  <hr>
  <div class="compare-items">
    <%@cars.each do |car|%>
      <div class="compare-item">
        <%=car.car_type%>
      </div>
    <%end%>
  </div>

  <br>
  <h4 class="font-weight-bold">Fuel Type</h4>
  <hr>
  <div class="compare-items">
    <%@cars.each do |car|%>
      <div class="compare-item">

        <% if car.fuel == "Essence"%>
          <%=image_tag 'gas.jpg',style:"width:70px ;height:100px"%>
        <% elsif car.fuel == "Diesel" %>
            <%=image_tag 'diesel.jpg',style:"width:100px ;height:70px"%>
        <% elsif car.fuel == "Hybrid" %>
          <%=image_tag 'hybrid.png',style:"width:100px ;height:70px"%>
        <%else%>
          <%=image_tag 'electric.png',style:"width:130px ;height:70px"%>
        <%end%>

      </div>
    <%end%>
  </div>

  <br>
  <h4 class="font-weight-bold">Gearbox Type</h4>
  <hr>
  <div class="compare-items">
    <%@cars.each do |car|%>
      <div class="compare-item">

          <% if car.gearbox == "Manual" %>
            <%=image_tag 'manuelgear.png',class: 'gear_photo'%>
          <%else%>
            <%=image_tag 'auto.jpeg',class: 'gear_photo'%>
          <%end%>

      </div>
    <%end%>
  </div>

   <br>
  <h4 class="font-weight-bold">Available Passenger Number</h4>
  <hr>
  <div class="compare-items">
    <%@cars.each do |car|%>
      <div class="compare-item">
        <%=image_tag 'driver.png',class:'avatar'%>+ <%=car.passengers-1%>
      </div>
    <%end%>
  </div>

  <br>
  <h4 class="font-weight-bold">The Size Of The Trunk</h4>
  <hr>
  <div class="compare-items">
    <%@cars.each do |car|%>
      <div class="compare-item">
        <%=car.trunk_size%>L
      </div>
    <%end%>
  </div>

  <br>
  <h4 class="font-weight-bold">Crit'air</h4>
  <hr>
  <div class="compare-items">
    <%@cars.each do |car|%>
      <div class="compare-item">
        <% if car.critair == 1%>
          <%=image_tag 'critair1.jpg',class: 'critair_photo'%>
        <% elsif car.critair == 2 %>
            <%=image_tag 'critair2.jpg',class: 'critair_photo'%>
        <% elsif car.critair == 3 %>
          <%=image_tag 'critair3.jpg',class: 'critair_photo'%>
        <% elsif car.critair == 4 %>
          <%=image_tag 'critair4.jpg',class: 'critair_photo'%>
        <% elsif car.critair == 5 %>
          <%=image_tag 'critair5.jpg',class: 'critair_photo'%>
        <%else%>
          <%=image_tag 'critairhybrid.jpg',class: 'critair_photo'%>
        <%end%>

      </div>
    <%end%>
  </div>


  <br>
  <h4 class="font-weight-bold">The Year Of Releasing</h4>
  <hr>
  <div class="compare-items">
    <%@cars.each do |car|%>
      <div class="compare-item">
        <%=car.year%>
      </div>
    <%end%>
  </div>

</div>
</div>
