<div class="container">

  <%@cars.each do |car|%>
    <div class="card">
      <%= image_tag "#{car.photo}" %><br>
      <h2><%=car.brand%></h2>
      <h3><%=car.model%></h3>
      <br>
      <h4>Type: <%=car.car_type%></h4>
      <br>
      <h4>Passengers: <%=car.passengers%></h4>
      <br>
      <h4>Year: <%=car.year%></h4>
      <br>
      <h4>Fuel: <%=car.fuel%></h4>
      <br>
      <h4>Crit'air: <%=car.critair%></h4>
      <br>
      <h4>Gearbox: <%=car.gearbox%></h4>
      <br>
      <h4>Trunk size: <%=car.trunk_size%> L</h4>
      <br>
      <h2><%=car.price%> €</h2><br>
    </div>
  <%end%>
