<form action="/cars/compare">
  <div class="container_cards">
    <div class="all_cards">
      <% @cars.each do |car|%>
        <div data-aos="flip-right">
          <div class="card_car">

            <div class="photo">
              <%= image_tag "#{car.photo}" %>
            </div>

            <div class="cards_infos">
              <h5><%=car.model%></h5>
                <p>Fuel: <%=car.fuel%></p>
               <h4><%=car.price%> €</h4>
               <%= car.favourites.any? { |f| f.user == current_user } %>
            </div>

            <div class='options'>
              <label class="check_container">
                 <input type="checkbox" value="<%= car.id %>" name="compare[]" >
                 <span class="checkmark"></span>
              </label>

              <button type="button" id= "<%= car.id %>" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= car.id %>"> See More >
              </button>

            </div>
          </div>
        </div>
      <%end%>
    </div>
    <div class="sidebar">
      <input type="submit" value="Compare" id="compare_button" class="btn btn-primary">
    </div>
  </div>
</form>


<% @cars.each do |car|%>
  <div class="modal fade" id="myModal<%= car.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl animated zoomInUp" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="container_big_card">
              <div class="card_description">
                <div class="photo">
                  <%= image_tag car.photo %>
                </div>

                <div class="card_infos">
                  <h2><%=car.model%></h5>

                   <p>Passengers: <%=car.passengers%></p>
                   <p>Year:       <%=car.year%></p>
                   <p>Fuel:       <%=car.fuel%></p>
                   <p>Crit'air:   <%=car.critair%></p>
                   <p>Gearbox:    <%=car.gearbox%></p>
                   <p>Trunk size: <%=car.trunk_size%> L</p>
                   <h3>Price:     <%=car.price%> €</h3>
                </div>

                  <%= link_to car_favourites_path(car), remote: true, method: :post do %>
                   <i id="star<%=car.id%>" class="fas fa-star class" ></i>
                  <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

