<form action="/cars/compare">
  <div class="cards">
    <button onclick="topFunction()" id="myBtn" class="btn btn-primary" title="Go to compare">Compare</button>
      <% @cars.each do |car|%>
        <div data-aos="flip-right" data-aos-duration="1200">
          <div class="card_car">
            <div class="photo">
              <%= image_tag "#{car.photo}" %>
            </div>

            <div class="cards_infos">
              <h6><strong><%=car.model.upcase%></strong></h6>
              <% if car.car_type == "0km"%>
              <p>New</p>
              <%else%>
              <%=car.car_type.to_s.capitalize%>
              <%end%>
               <h6><%=car.price%> €</h6>
              <button type="button" id= "<%= car.id %>" data-toggle="modal" data-target="#myModal<%= car.id %>" class='see_more'> See More >
              </button>
            </div>
            <div class='options'>
              <label class="check_container" aria-label="Compare!" data-balloon-pos="up">
                 <input type="checkbox" value="<%= car.id %>" name="compare[]" id="check">
                 <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      <%end%>
  </div>
</form>

<% if @cars.blank? %>
  <p class="cars-blankslate"></p>
<% end %>
<% @cars.each do |car|%>
  <div class="modal fade" id="myModal<%= car.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl animated zoomInUp" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="container_big_card">
              <div class="card_description">
                <div class="photo">
                  <%= image_tag car.photo %>
                </div>

                <div class="card_infos">
                  <div class="content">
                    <h2><%=car.model%></h5>
                     <p>Passengers : <%=car.passengers%></p>
                     <p>Year :       <%=car.year%></p>
                     <p>Fuel :       <%=car.fuel%></p>
                     <p>Crit'air :   <%=car.critair%></p>
                     <p>Gearbox :    <%=car.gearbox%></p>
                     <p>Trunk size : <%=car.trunk_size%> L</p>
                     <p>Horse Power : <%=car.horse_power%></p>
                     <p>Din power : <%=car.power_fiscal%></p>
                     <h3>Price :     <%=car.price%> €</h3>
                    </div>
                    <div class="link-infos">
                    <%=link_to "More infos", car.link, class: 'btn btn-primary more_infos'%>
                   </div>
                </div>

                <div id="fav<%= car.id%>" class="fav">
                   <%= render 'favourite_star', car: car, is_favourite: car.favourite, favourite_id: car.favourite_id %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

