<form action="/cars/compare">
  <input type="submit" value="Compare" id="compare_button" class="btn btn-primary">
  <div class="container_cards">
    <div class="all_cards">
      <% @cars.each do |car|%>
        <!-- <div data-aos="flip-right"> -->
          <div class="card_car">

            <div class="photo">
              <%= image_tag "#{car.photo}" %>
            </div>

          <div class="cards_infos">
            <h5><%=car.brand%> - <%=car.model%></h5>
              <p>Type: <%=car.car_type%></p>
              <!-- <p>Passengers: <%=car.passengers%></p> -->
             <!--  <br> -->
              <!-- <p>Year: <%=car.year%></p> -->
              <!-- <br> -->
              <p>Fuel: <%=car.fuel%></p>
              <!-- <p>Crit'air: <%=car.critair%></p> -->
            <!--   <br> -->
              <!-- <p>Gearbox: <%=car.gearbox%></p> -->
            <!--   <br> -->
              <!-- <p>Trunk size: <%=car.trunk_size%> L</p> -->
              <h4><%=car.price%> €</h3>
          </div>
          <div class='options'>
           <label class="check_container">
             <input type="checkbox" value="<%= car.id %>" name="compare[]" >
             <span class="checkmark"></span>
           </label>

            <button type="button" class="btn-blue"><%= link_to "See More >" %></button>

          </div>
        <!-- </div> -->
      <%end%>
    </div>
  </div>


</form>
