<div class="container_cards">
  <%@cars.each do |car|%>
    <div class="card">
        <div>
          <%= image_tag "#{car.photo}" %><br>
          <div class="cards_infos">
            <h2><%=car.brand%> - <%=car.model%></h2>
              <br>
              <h5>Type: <%=car.car_type%></h5>

              <!-- <h5>Passengers: <%=car.passengers%></h5> -->
             <!--  <br> -->
              <!-- <h5>Year: <%=car.year%></h5> -->
              <!-- <br> -->
              <h5>Fuel: <%=car.fuel%></h5>
              <!-- <h5>Crit'air: <%=car.critair%></h5> -->
            <!--   <br> -->
              <!-- <h5>Gearbox: <%=car.gearbox%></h5> -->
            <!--   <br> -->
              <!-- <h5>Trunk size: <%=car.trunk_size%> L</h5> -->
           <!--    <br> -->
              <h2><%=car.price%> €</h2><br>
          </div>
        </div>
    </div>
  <%end%>
</div>
