<div class="container">
<%=@car.model%><br>
<%=@car.passengers%><br>
<%=@car.brand%><br>
<%=@car.year%><br>
<%=@car.fuel%><br>
<%=@car.critair%><br>
<%=@car.gearbox%><br>
<%=@car.trunk_size%><br>
<%=@car.car_type%><br>
<%=@car.price%><br>
</div>
