<!-- <div class="container_big_card">
    <div data-aos="flip-left zoom-in-up">
      <div class="card_description">
        <div class="photo">
          <%= image_tag @car.photo %>
        </div>
        <div class="card_infos">
          <h2><%=@car.brand%> - <%=@car.model%></h5>
           <p>Type:       <%=@car.car_type%></p>
           <p>Passengers: <%=@car.passengers%></p>
           <p>Year:       <%=@car.year%></p>
           <p>Fuel:       <%=@car.fuel%></p>
           <p>Crit'air:   <%=@car.critair%></p>
           <p>Gearbox:    <%=@car.gearbox%></p>
           <p>Trunk size: <%=@car.trunk_size%> L</p>
           <h3>Price:     <%=@car.price%> €</h3>
        </div>

          <%=link_to "add to fave",car_favourites_path(@car),method: :post%>
      </div>

  </div>
</div>
 -->
